# .htaccess for newbern-nc.info, The Tyson Group

Header set Access-Control-Allow-Origin *
Order Allow,Deny
Allow from All

# SET ENV VARIABLES
SetEnv SITELOAD /var/www/vendor/bartonlp/site-class/includes
SetEnv SITELOADNAME /var/www/vendor/bartonlp/site-class/includes/siteload.php
# END ENV

# ETAG
FileETag All

# EXPIRES SECTION
ExpiresDefault "access plus 10 days"
ExpiresByType text/css A0
ExpiresByType application/x-javascript A0
ExpiresByType application/javascript A0
ExpiresByType text/plain "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType application/x-icon "access plus 1 year"
# END EXPIRES SECTION

# REWRITE SECTION
RewriteEngine on
# Don't allow these robots
RewriteCond %{HTTP_USER_AGENT} "baiduspider" [NC]
RewriteRule (.*) - [F,L]

# direct robots.txt to robots.php
RewriteRule ^robots\.txt$ robots.php [L,NC]
RewriteRule ^Sitemap\.xml$ sitemap.php [L,NC]

# rewrite the address of csstest.css to tracker.php?csstest
RewriteRule ^csstest-(.*)\.css$ tracker.php?id=$1&csstest [L,QSA]

RewriteRule ^(\.git|Archive|other|script)/.*$ - [F,L]
RewriteRule ^(\.gitignore|mysitemap\.json|sitemap-new\.txt)$  - [F,L]

# have this shtml goto the php
RewriteRule ^Tyson-Group-Value-Proposition.shtml.*$ aboutus.php [L]
# END REWRITE SECTION

# ADD SECTIONS
AddType application/x-javascript .js
AddType text/css .css
AddType text/xml .xml
AddType text/cache-manifest .manifest
AddType application/x-font-woff .woff
AddType application/x-font-ttf .ttf

AddDefaultCharset UTF-8

# Do compression for the following types
AddOutputFilterByType DEFLATE \
  "application/atom+xml" \
  "application/javascript" \
  "application/x-javascript" \
  "application/json" \
  "application/ld+json" \
  "application/manifest+json" \
  "application/rdf+xml" \
  "application/rss+xml" \
  "application/schema+json" \
  "application/vnd.geo+json" \
  "application/vnd.ms-fontobject" \
  "application/x-font-ttf" \
  "application/x-web-app-manifest+json" \
  "application/xhtml+xml" \
  "application/xml" \
  "font/opentype" \
  "image/svg+xml" \
  "image/x-icon" \
  "text/cache-manifest" \
  "text/css" \
  "text/html" \
  "text/javascript" \
  "text/plain" \
  "text/vtt" \
  "text/x-component" \
  "text/xml" \
  "image/png" \
  "image/jpg" \
  "image/gif" 
# END ADD SECTIONS
